<h2>Welcome to Ritly</h2>

<% if @links.empty? %>
  <h3>No urls</h3>
  <p>please enter a url in the form below</p>
<% else %>
  <div>
    <table>
    <th>
      <tr>
        <td>URL</td>
        <td>Short Code</td>
      </tr>
    </th>
      <% @links.each do |link| %>
        <tr>
          <td><%= link_to link.url, link.short_code  %></td>
          <td><%= link.short_code %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<%= form_for @link do |f|  %>
  <%= f.text_field :url  %>
  <%= f.submit 'Submit'  %>
<% end %>